# Test

In [37]:
import os
import pandas as pd
import matplotlib
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from dotenv import load_dotenv


load_dotenv()


conn = create_engine(os.getenv("HEROKU_POSTGRESQL_BROWN_URL"))
pd.read_sql_query('''SELECT * FROM sample;''', conn)

Python-dotenv could not parse statement starting at line 1

,index,Unnamed: 0,year,month,day,countrycode,test_rate,new_test_rate,case_rate,new_case_rate,death_rate,new_death_rate
0,0,0,2020,1,21,1000,.,.,0.000305,.,0.0,.
1,1,1,2020,1,22,1000,0,.,0.000305,.,0.0,.
2,2,2,2020,1,23,1000,0,.,0.000305,.,0.0,.
3,3,3,2020,1,24,1000,0,.,0.000609,.,0.0,.
4,4,4,2020,1,25,1000,0,.,0.000914,.,0.0,.
...,...,...,...,...,...,...,...,...,...,...,...,...
218,218,218,2020,8,26,1000,22438,208,1768.000000,12.8,53.5,.281
219,219,219,2020,8,27,1000,22663,211,1781.000000,12.7,53.8,.285
220,220,220,2020,8,28,1000,22898,212,1795.000000,12.6,54.1,.278
221,221,221,2020,8,29,1000,23130,212,1809.000000,12.6,54.4,.275
222,222,222,2020,8,30,1000,23355,218,1819.000000,12.7,54.5,.272